td img {
  display: block;
}

td img:not(:last-child) {
  margin-bottom: 0.625rem;
}

.grid-button {
  align-items: center;
  background-color: #212425;
  border: 1px solid #181a1b;
  border-radius: 0.3125rem;
  color: #a8a095;
  cursor: pointer;
  display: flex;
  font-size: 0.9rem;
  font-weight: 500;
  justify-content: center;
  min-height: 2.5rem;
  padding: 0.5rem 0.3125rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.grid-button:hover {
  background-color: #181a1b;
  box-shadow: 0 0.25rem 0.5rem rgba(5, 5, 5, 0.3);
  transform: translateY(-0.125rem);
}

.link-grid {
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  list-style: none;
  padding: 0.625rem;
}
