.center {
  text-align: center;
}

.divider {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin: 1.25em 0;
}

.fullscreen {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.game-container {
  height: 37.5em;
  margin: 0 auto;
  width: 50em;
}

.hidden {
  display: none;
}

.vertical-align {
  vertical-align: middle;
}

#transformice {
  height: 100%;
  width: 100%;
}
