code {
  background-color: #f4f4f4;
  border-radius: 0.1875rem;
  padding: 0.125rem 0.3125rem;
}

footer {
  margin: 1rem 0 0 0;
  text-align: center;
}

img {
  display: inline;
  margin: auto;
  vertical-align: middle;
}

p, h1, h2, h3, h4, h5, h6, ul {
  margin: 1rem 0 1rem 0;
}

table {
  border-collapse: separate;
  border-spacing: 0.3125rem;
  width: 100%;
}

td {
  padding: 0.3125rem;
  text-align: center !important;
  vertical-align: middle !important;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.divider {
  border-top: 1px solid #ccc;
}

.left {
  clear: left;
  float: left;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.margin {
  margin: 0 auto 1rem auto;
}

.red {
  color: red;
}

.right {
  clear: right;
  float: right;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
